/**
 * 2. Structure
 * ----------------------------------------------------------------------------
 */
.inner-wide {
  max-width: 1080px;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}

.site {
  overflow: hidden;
  position: relative;
}

.site-content {
  background: var(--bg-panel);
  backdrop-filter: blur(12px);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 100vh;
  padding: 3vw 3vw 3.5em 3vw;   
}

.site-main {
  margin-bottom: 3.33333em;
}
