// Fonts
$font-primary: 'Manrope', sans-serif;
$font-secondary: 'Source Serif 4', serif;

// Colors
$color-accent: #d66d31;
$gray-darkest: #1b2430;
$gray-dark: #304257;
$gray: #5f6f82;
$gray-light: #8ea0b4;
$gray-lighter: #dbe3ea;
$yellow: #fffac4;
